*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.text{
    position: relative;
    top: 120px;
}
.text p{
    text-align: center;
}
.h2{
    text-transform: uppercase;
}
.text2{
    text-align: center;
    font-style: italic;
    position: relative;
    top: 200px;
    
}
.icon img{ 
    position: relative;
    left: 40%;
    margin: 90px 10px 0 10px;
}

.En a{
    position: relative;
    left: 45%;
    font-size: 18px;
    top: 90px;
}

.Edit{
    display: block;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

.text-center img{
    width: 540px;
}

footer p a{
color: orangered;
}

footer p{
    text-align: center;
}

@media (max-width: 576px){
    .icon img{
        position: relative;
        left: 50px;
    }

    .text p{
        font-size: 16px;
    }

    .En a{
        position: relative;
        left: 120px;
    }
    .Edit{
        display: block;
        text-align: center;
    }
}